.basics-color-palette {
  .cs-section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .color-example {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90px;

      .color-preview {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        margin-top: 20px;
      }
    }
  }
}

.basics-icons-preview {
  .cs-section-content {
    display: flex;
    flex-wrap: wrap;

    .icon-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 160px;

      .cs-cornershop-icon-container {
        margin-top: 20px;
        margin-bottom: 0px;
      }

      .icon-name {
        display: block;
      }
    }
  }
}
